@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital@0;1&display=swap");
body {
  height: 100vh;
  background-color: #f5f8ff;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
  height: 100vh;
}
.App {
  width: 100%;
  display: flex;
  align-items: stretch;
}

.navItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: -12px;
}

.topbar {
  position: relative;
  top: 0;
  left: 20%;
}

.menu {
  color: #c1c1c1;
  font-size: 14px;
  width: 190px;
  margin-left: 30px;
  text-decoration: none;
}
.menu-items {
  list-style: none;
  display: flex;

  justify-content: space-between;
}
.menu-items:hover {
  color: #5837d2;
}

.active {
  background-color: #eeebfb;
  color: #5837d2;
  border-radius: 20px;
  height: 40px;
}
.submenu {
  color: #c1c1c1;
  font-size: 13px;
  margin-left: 50px;
}
.submenu-items {
  text-decoration: none;
  color: #c1c1c1;
}
.submenu:hover {
  color: #5837d2;
}

.submenu-items:hover {
  color: #5837d2;
}

.btn {
  border-radius: 10px;
  font-size: 12px;
  height: 40px;
}

.submit {
  background-color: #5837d2;
  color: #eeebfb;
  transition: 0.5s;
}
.submit:hover {
  background-color: #ffffff;
  color: #5837d2;
}

.reset {
  border-color: #5837d2;
  color: #5837d2;
  transition: 0.5s;
}
.reset:hover {
  background-color: red;
  color: #ffffff;
  border: none;
}

.cancel {
  background-color: #ffffff;
  color: #b0b0b1;
  border-color: #c1c1c1;
}

.promo-add {
  background-color: #3fca7e;
  color: #ffffff;
  border: none;
}

.promo-add:hover {
  color: #3fca7e;
  background-color: #ffffff;
}
.Header {
  background-color: #f8f7fa;
}
.header-title {
  font-size: 18px;
  padding: 15px;
  text-align: center;
  color: #694bd6;
  font-weight: 500;
}
.form-container {
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 5px;
  height: auto;
}

.form-check-input {
  font-size: 20px;
}

.form-switch {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  padding-top: 45px;
}
